<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppjun.android.module_gank" >


    <application>



        <meta-data
            android:name="me.jessyan.armscomponent.gank.app.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>
</manifest>
